/* You can add global styles to this file, and also import other style files */
body {
  background-color: #343A40;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a , a:hover {
  text-decoration: none;
  font-size: 18px !important;
}

.hover:hover {
  color: rgba(255,255,255,.75) !important;
  font-weight: 700;
}

.pointer{
  cursor: pointer;
}

.color-one {
  color: rgba(255,255,255,.5) !important;
}